%body
  %header.d-flex.justify-content-center.py-3
    %ul.nav.nav-pills
      %li.nav-item
        = link_to "Главная" , main_index_path, class: "nav-link px-2 text-danger"
      %li.nav-item
        = link_to "О сайте" , main_about_path, class: "nav-link px-2 text-danger"
      %li.nav-item
        = link_to "Техподдержка" , main_help_path, class: "nav-link px-2 text-danger"